@*
    This view is a demonstration for the asset allocation feature for adminstrators. It will be integrated into the admin dashboard in the future.
*@
@{
    var msg = TempData["Failure"] as string;
    if (!string.IsNullOrEmpty(msg))
    {
        <div class="alert alert-danger" role="alert">
            @msg
        </div>
    }
}

<h1>Allocate Asset</h1>
<p>Please enter the tag and new borrower for the asset you want to reassign.</p>

<form asp-controller="Admin" asp-action="Allocate">
   <div class="form-group">
        <label for="AssetTag">Asset Tag:</label>
        <input type="text" id="AssetTag" name="AssetTag" class="form-control" />
    </div>
    <br/>
    <div class="form-group">
        <label for="IssuedTo">Allocate To:</label>
        <input type="text" id="IssuedTo" name="IssuedTo" class="form-control" />
    </div>
    <br/>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
        Allocate Asset
    </button>

    @* Confirmation Popup 
        TODO: Refactor this (along with the Borrow button itself) into a partial view or component for reuse
              and fix the button so it can properly redirect instead of having to click the link inside the button.
    *@
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmModalLabel">Reallocate Asset</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to reallocate this asset?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    @* <button type="submit" class="btn btn-primary">Allocate Asset</button> *@
</form>
