@using System.Security.Claims

<ul class="navbar-nav ms-auto">
@if (User.Identity?.IsAuthenticated == true)
{
    var email = User.FindFirstValue(ClaimTypes.Email) 
                ?? User.FindFirstValue("preferred_username") 
                ?? User.Identity.Name 
                ?? "Account";
    var name = User.FindFirstValue(ClaimTypes.Name) ?? email;

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
            <li>
                <span class="dropdown-item-text small text-muted">@email</span>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
                <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign In</a>
    </li>
}
</ul>