@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TrackPoint.Views.Asset.AssetAddModel;
@{
}
<h1>Register an Asset</h1>
<form>
	<input type="hidden" asp-for="asset.AssetTag">
	<div>
		<label asp-for="asset.Make">Make</label>
		<input type="text" asp-for="asset.Make">
	</div>

	<div>
		<label asp-for="asset.Model">Model</label>
		<input type="text" asp-for="asset.Model">
	</div>
	<div>
		<label asp-for="asset.SerialNumber">Serial Number</label>
        <input type="text" asp-for="asset.SerialNumber">
    </div>
	<div>
		<label asp-for="asset.PurchaseDate">Purchase Date</label>
        <input type="date" asp-for="asset.PurchaseDate">
	</div>
	<div>
		<label asp-for="asset.PurchasePrice">Purchase Price</label>
        <input type="number" step="0.01" asp-for="asset.PurchasePrice">
	</div>
	<div>
		<label asp-for="asset.WarrantyExpirationDate">Warranty Expiration Date</label>
        <input type="date" asp-for="asset.WarrantyExpirationDate">
	</div>
	<div>
		<label asp-for="asset.Vendor">Vendor</label>
        <input type="text" asp-for="asset.Vendor">
	</div>
	<div>
		<label asp-for="asset.Condition">Condition</label>
        <input type="text" asp-for="asset.Condition">
	</div>

	<div>
		<label asp-for="asset.Category">Category</label>
		<select asp-for="asset.Category">
            <option value="">Select Category</option>
			<!--Populate the dropdown with available categories-->
			@foreach(Category c in Model._categories)
			{
                <option value="@c.CategoryId">@c.Name</option>
			}
		</select>
	</div>

	<div>
		<label asp-for="asset.Location">Location</label>
		<select asp-for="asset.Location">
			<option value="">Select Location</option>
			<!--Populate the dropdown with available locations-->
			@foreach(Location l in Model._locations)
			{
				<option value="@l.LocationId">@l.Name</option>
			}
		</select>
	</div>

	<div>
		<label asp-for="asset.IssuedToUser">Issued To</label>
		<input type="text" asp-for="asset.IssuedToUser">
	</div>

	<div>
		<select asp-for="asset.AssetStatus">
			<!--Some of these options may be omitted, as it doesnt really make sense to register a new asset as "Lost"-->
			<option value="">Select Status</option>
			<option value="InUse">In Use</option>
			<option value="InStorage">In Storage</option>
			<option value="UnderMaintenance">Under Maintenance</option>
			<option value="Retired">Retired</option>
			<option value="PendingDeployment">Pending Deployment</option>
			<option value="Lost">Lost</option>
			<option value="Transfered">Transfered</option>
			<option value="NeedsReplacement">Needs Replacement</option>
			<option value="OnHold">On Hold</option>
			<option value="Returned">Returned</option>
		</select>
	</div>

	<div>
		<textarea asp-for="asset.Notes" placeholder="Additional notes about the asset"></textarea>
	</div>

	<input type="submit" value="Submit" asp-action="NewAsset">
</form>
