@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <ul class="list-unstyled">
        <li>Matthew</li>
        <li>Mckenzie</li>
        <li>Emily </li>
        <li>Steven</li>
    </ul>
	<a asp-controller="Asset" asp-action="AssetBrowser" class="btn btn-primary">Browse Assets</a>
    <a asp-controller="Asset" asp-action="TransferLog" class="btn btn-primary">Transfer Log</a>
    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Dashboard</a>
</div>
