@{
    ViewData["Title"] = "Home Page";
    bool isAdmin = User.IsInRole("Admin");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Trackpoint asset tracker! Here are some currently in-development options:</p>

    <a asp-controller="Asset" asp-action="AssetBrowser" class="btn btn-primary">Browse Assets</a>
    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Dashboard</a>

    @if (isAdmin)
    {
        <a asp-controller="Asset" asp-action="LocationAdd" class="btn btn-secondary">Register Location</a>
        <a asp-controller="Asset" asp-action="CategoryAdd" class="btn btn-secondary">Register Category</a>
        <a asp-controller="Asset" asp-action="AssetAdd" class="btn btn-primary">Asset Registration Form</a>
        <a asp-controller="Asset" asp-action="TransferLog" class="btn btn-primary">Transfer Log</a>
        <a asp-controller="Admin" asp-action="AllocateDemo" class="btn btn-outline-primary">Admin Allocation</a>
        <a asp-controller="Dashboard" asp-action="adminDashboard" class="btn btn-outline-dark">Admin Dashboard</a>
        <a asp-controller="AssetLoan" asp-action="AssetLoanTest" class="btn btn-warning">Asset Loan Demo</a>
    }
</div>
